#header {
    text-align: center;
    padding-top: 20px;
    margin: 10px;
    color:black;
    text-shadow: 2px 2px gainsboro;
    cursor: pointer;
}

.container {
  padding: 1em;
}

.card {
  height: 550px;
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
  font-family: arial;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 
}

.card img{
  padding: 10px 0;
  border-radius: 50%;
}

.card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.title {
  color: grey;
  font-size: 18px;
}

#btn-container {
  padding-top: 2em;
  padding-bottom: 4em;
  width: 100%;
  display: flex;
  align-items: center;
}

#load-more{
  margin: auto;
}

.search-container {
  position: relative;
}

.search-input {
  height: 50px;
  border-radius: 30px;
  padding-left: 35px;
  background: transparent;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #888;
}

#search-box {
  background-position: 10px 12px; 
  background-repeat: no-repeat; 
  width: 100%; 
  font-size: 16px; 
  padding: 12px 20px 12px 40px; 
  border: 1px solid #ddd; 
  margin-bottom: 12px;
}
